#####################################################################
#   MCU DEFINITIONS
#####################################################################

[mcu]
canbus_uuid: 8aad5b6575b6

[include mainsail.cfg]

[include macros.cfg]

[include ebb-sb-can.cfg]

[include eddy-ng.cfg]


#####################################################################
#   PRINTER KINEMATICS / LIMITS
#####################################################################


[printer]
kinematics: corexy
max_velocity: 400   # 500 tested clean on all corners @ accel 3000 (2026-10-04)
max_accel: 3000
max_z_velocity: 20
max_z_accel: 1550
square_corner_velocity: 5.0

# Object labels for adaptive bed mesh + per-object cancel
# (slicer: Label objects = Firmware-specific; Moonraker object processing is the fallback)
[exclude_object]

#####################################################################
#   INPUT SHAPER
#####################################################################

[input_shaper]
#shaper_freq_x: 54.6
#shaper_type_x: mzv
#shaper_freq_y: 40.8
#shaper_type_y: zv
#shaper_freq_y: 47.4
#shaper_type_y: mzv


#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: EBBCan:gpio18
dir_pin: EBBCan:gpio19
enable_pin: !EBBCan:gpio17
microsteps: 16
# CW2/BMG gears are 50:10 (5:1). Either set the ratio, or bake it into rotation_distance.
gear_ratio: 50:10
# rotation_distance: 22.678
# rotation_distance: 23.87
# rotation_distance: 25.94
rotation_distance: 21.96
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: EBBCan:gpio7
# sensor_type: EPCOS 100K B57560G104F  #Dragon UHF
sensor_type: PT1000 #NextG Fiber.
sensor_pin: EBBCan:gpio27
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: 0
max_temp: 350
max_extrude_only_distance: 150   # allows 100mm extruder calibration + load/unload macros
# Ellis PA pattern, 0.4 nozzle, Silk PLA 210C, 100 mm/s @ 3000 (2026-10-05) -> 0.025.
# (An earlier 0.02 was measured with a 0.6 nozzle fitted by mistake; void.)
pressure_advance: 0.025

[tmc2209 extruder]
uart_pin: EBBCan:gpio20      
run_current: 0.60            # LDO 36STH20-1004AHG (CW2). Was 1.00 (inherited): toolhead board hit 64C in a PLA print. Voron default 0.5
hold_current: 0.25
sense_resistor: 0.110
stealthchop_threshold: 0     # force spreadCycle for consistent torque
interpolate: True


#####################################################################
#   X / Y STEPPERS
#####################################################################

[stepper_x]
step_pin: PF13
dir_pin: !PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: PG6
position_min: 30   # was 15 -> 25 -> 30; toolhead bumps the front-left at speed below X30 (verified 2026-10-04)
position_endstop: 350
position_max: 350
homing_speed: 25
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


[stepper_y]
step_pin: PG0
dir_pin: !PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 200
endstop_pin: PG9
position_min: 25   # was 6; keep toolhead clear of the front (2026-10-04)
position_endstop: 350
position_max: 350
homing_speed: 25
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


#####################################################################
#   Z STEPPERS (4-point gantry lift)
#####################################################################

[stepper_z]
step_pin: PF11
dir_pin: !PG3
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop
# endstop_pin: PG10
# Position of endstop relative to bed in mm. 5 means that the endstop is 5mm above the bed.
# position_endstop: 2.7
position_min: -10
position_max: 310
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


[stepper_z1]
step_pin: PG4
dir_pin: PC1
enable_pin: !PA2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


[stepper_z2]
step_pin: PF9
dir_pin: !PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


[stepper_z3]
step_pin: PC13
dir_pin: PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#   BED HEATER
#####################################################################

[heater_bed]
heater_pin: PA3
sensor_pin: PF3
sensor_type: Generic 3950
max_power: 0.5   # 1000W 110V pad on 350mm bed: Voron rule 0.4 W/cm^2 ~ 490W
min_temp: 0
max_temp: 130
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

#####################################################################
#   FAN (ELECTRONICS BAY)
#####################################################################

[controller_fan electronics_fan]
pin: PD12
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
# fan_speed: 1.0  # You can lower this (e.g., 0.6) if the fan is too loud
idle_timeout: 1  # Time in minutes to keep running after printer stops
idle_speed: 0.5   # Speed to run at when printer is idle but motors are enabled
heater: heater_bed, extruder
stepper: stepper_x, stepper_y, stepper_z

#####################################################################
#   IDLE TIMEOUT
#####################################################################

[idle_timeout]
timeout: 3600


#####################################################################
#   QUAD GANTRY LEVEL
#####################################################################

[quad_gantry_level]
gantry_corners:
  -60,-10
  410,420
#  Probe points
points:
  # 50,25
  # 50,275
  # 300,275
  # 300,25
    97, 32
    97, 282
    347,282
    347,32
speed: 100
horizontal_move_z: 2
retries: 5
retry_tolerance: 0.02   # was 0.0075; Eddy drifts while it warms, 0.0075 unreachable without a long soak (2026-10-04)
max_adjust: 20

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
gcode:
    SAVE_GCODE_STATE NAME=STATE_QGL
    BED_MESH_CLEAR
    # If QGL has not been done yet, correct for any major skew first
    # at 8mm height
    {% if not printer.quad_gantry_level.applied %}
    _QUAD_GANTRY_LEVEL horizontal_move_z=8 retry_tolerance=1      
    {% endif %}
    # Complete with a full QGL at the configured height
    _QUAD_GANTRY_LEVEL
    RESTORE_GCODE_STATE NAME=STATE_QGL

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.132840, 0.082760, 0.053411, 0.044573, 0.035721, 0.017914, 0.008970, 0.035721, 0.117501
#*# 	0.158511, 0.117501, 0.097214, 0.071009, 0.053411, 0.044573, 0.053411, 0.079770, 0.141422
#*# 	0.183964, 0.132840, 0.108851, 0.082760, 0.071009, 0.053411, 0.053411, 0.100175, 0.149979
#*# 	0.192401, 0.132840, 0.108851, 0.082760, 0.074009, 0.062223, 0.062223, 0.100175, 0.141422
#*# 	0.149979, 0.100175, 0.071009, 0.035721, 0.026831, 0.000000, 0.008970, 0.053411, 0.115602
#*# 	0.115602, 0.062223, 0.053411, 0.017914, 0.008970, -0.008997, 0.000000, 0.035721, 0.088505
#*# 	0.149979, 0.108851, 0.088505, 0.044573, 0.026831, 0.017914, 0.053411, 0.089995, 0.126127
#*# 	0.158511, 0.108851, 0.097214, 0.062223, 0.053411, 0.044573, 0.053411, 0.097214, 0.132840
#*# 	0.141422, 0.088505, 0.071009, 0.035721, 0.017914, -0.007018, 0.008970, 0.044573, 0.108851
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 30.0
#*# max_x = 300.0
#*# min_y = 20.0
#*# max_y = 300.0
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 29.610
#*# pid_ki = 0.936
#*# pid_kd = 234.289
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 53.2
#*# shaper_type_y = ei
#*# shaper_freq_y = 39.6
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.552
#*# pid_ki = 2.107
#*# pid_kd = 83.640
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 16, 17, 15
#*# calibration_version = 5
#*# reg_drive_current = 15
#*# tap_drive_current = 15
#*# calibration_16 = gASVygMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwVbnVtcHkuY29yZS5tdWx0aWFycmF5lIwMX3JlY29uc3RydWN0lJOUjAVudW1weZSMB25kYXJyYXmUk5RLAIWUQwFilIeUUpQoSwFLCoWUaAyMBWR0eXBllJOUjAJmOJSJiIeUUpQoSwOMATyUTk5OSv////9K/////0sAdJRiiUNQNB8crt3L+D/ilNSNUg0AQKNB7huPKug/YrJyQrY54D/g2UK5qCnBP+6qKkarOt6/FfleyvKhxD8J8WKZPnLkP4E/2c9xrLW/YQ+hDOKTyb+UdJRijAZkb21haW6UaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAf6wE/ni2VPq2HBiIcRpU+lHSUYowGd2luZG93lGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGKMB19zeW1ib2yUjAF4lIwGc3ltYm9slGgsdWKMCWZ0b2hfaGlnaJRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1BHBfjAjFEcQH2JeTuCqQxAqle1nJtjBkB722F2XIsRQBKQqkvNNRHAkgZq6U+zKsCn9AtGec0hQMvLqe4UDzVAvCgwTM+WEsD+8zi7ztUkwJR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQ+4Am7hFFlT5riO9XaE2VPpR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijARodG9mlGgFKYGUfZQoaAhoC2gOSwCFlGgQh5RSlChLAUsKhZRoGIlDUDFK/wrCPpU+Et1EnvczBT4VhxdtfFb1vUhSH0kLavE9EvYFKDtG7z3cTr+5wKUGvlSA6brwPAG+/Yjng+rDET4scHcG3DX0PdhBXS3XKAK+lHSUYmgdaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxBYKthhCg1nPzTvuKUA/hNAlHSUYmgkaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAAAAAAAADwvwAAAAAAAPA/lHSUYmgraCxoLWgsdWKMB2hfcmFuZ2WUXZQoRz9nDQph2CpYR0At/ytWHPN9ZYwHZl9yYW5nZZRdlChHQUgI7e5W6ABHQUgtAcKXyABljAJkY5RLEHUu
#*# calibration_17 = gASVygMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwVbnVtcHkuY29yZS5tdWx0aWFycmF5lIwMX3JlY29uc3RydWN0lJOUjAVudW1weZSMB25kYXJyYXmUk5RLAIWUQwFilIeUUpQoSwFLCoWUaAyMBWR0eXBllJOUjAJmOJSJiIeUUpQoSwOMATyUTk5OSv////9K/////0sAdJRiiUNQZnZLzXrC9D+M2WctBj38P0jOKXFSsOc/ACmg1PIn4z+i8epiyA7UP3zkZYbsCty/yIPRAHxdfz9dj9q1dtPpPwQRfbDEusE/Zmxx10Gvzr+UdJRijAZkb21haW6UaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxBCyAositqUPlaVVgoKVZU+lHSUYowGd2luZG93lGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGKMB19zeW1ib2yUjAF4lIwGc3ltYm9slGgsdWKMCWZ0b2hfaGlnaJRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1B3EAoifNwZQEs8Rg+vFgZAetqhzqef9z9E1k+1w0n6P4lTuYQSasO/ftxkRnIzCcBupkP5Gfj0PzeCTO27cxVA93arTLBJ4L9zojYFVnEEwJR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQCD/PmmZRlT62EKlCOWiVPpR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijARodG9mlGgFKYGUfZQoaAhoC2gOSwCFlGgQh5RSlChLAUsKhZRoGIlDUIEoj59aN5U+i6dOYxJJKD51YR8zRgEcvjnHYTJ2tBA+ECLnR9dR773OdBzSB2ESvqI98wXmvZG9n8ZJJwqVGz7iQnhZMpywPUM/km4KSgq+lHSUYmgdaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAAdFwjwiROP7ay9/eL/BNAlHSUYmgkaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAAAAAAAADwvwAAAAAAAPA/lHSUYmgraCxoLWgsdWKMB2hfcmFuZ2WUXZQoRz9OJMIjXHQAR0ApHblUP0tbZYwHZl9yYW5nZZRdlChHQUfq0lXO6ABHQUiNUf0lQABljAJkY5RLEXUu
#*# calibration_15 = gASVygMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwVbnVtcHkuY29yZS5tdWx0aWFycmF5lIwMX3JlY29uc3RydWN0lJOUjAVudW1weZSMB25kYXJyYXmUk5RLAIWUQwFilIeUUpQoSwFLCoWUaAyMBWR0eXBllJOUjAJmOJSJiIeUUpQoSwOMATyUTk5OSv////9K/////0sAdJRiiUNQhOvKdl5P+D9By+4z8AYAQOeq1jWteuc/vPKEiJQZ3T9lA3tqTAKiPxiBnvTOsN6/qGvYgQeD1T/S5j5XetTuP7yAKFT028G//HTzf5iW3b+UdJRijAZkb21haW6UaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxB1iFjbKguVPlg3EAr7LpU+lHSUYowGd2luZG93lGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGKMB19zeW1ib2yUjAF4lIwGc3ltYm9slGgsdWKMCWZ0b2hfaGlnaJRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1Bb795NpQMcQFAAdKz/8gtA/vhjthqT/T/taTANCJ4IQD01ZNfTLME/TxlSkAHCH8DDjGns/YP/P83mcQT96ypAyIBlUclA8L+0m31tLvsawJR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQH+sBP54tlT5wvr460TiVPpR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijARodG9mlGgFKYGUfZQoaAhoC2gOSwCFlGgQh5RSlChLAUsKhZRoGIlDUMyIA/hrJJU+GUi7LwGPDz6ePxpVuXj7vd/fonfCP989bg2qD9yfs71HgjTt6nmfPeBH0c8klMK9YAgAqsW3pT1IaEPUTTy8PcN9UTGxSJm9lHSUYmgdaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxCCHUnLnElrPzj8VNTD7xNAlHSUYmgkaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAAAAAAAADwvwAAAAAAAPA/lHSUYmgraCxoLWgsdWKMB2hfcmFuZ2WUXZQoRz9rSZzLSR2CR0At///nfJ1sZYwHZl9yYW5nZZRdlChHQUggP7k/CABHQUhUldlxWABljAJkY5RLD3Uu
#*# tap_adjust_z = 0.04
